.status-group {
    margin-bottom: 15px;
}
.status-group-name {
    font-weight: bold;
    margin-bottom: 5px;
}
.status-component {
    margin: 4px 0;
}
.status-component-name {
    width: 58%;
    float: left;
}
.status-component-status {
    width: 40%;
    text-align: right;
    float:right;
}
.clearing {
    clear: both;
}
.status-error-display {
    text-align: center;
    color: #ff6f6f;
    margin-bottom: 15px;
}
.status-full-link-reference {
    margin-top: 10px;
}
